<%-include('partials/encabezado.html');%>
<body style="overflow-x: hidden;">
    <div class="container-fluid bg-light">

    <form action="/" method="post">
        <div class="row mt-2 mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Número del boleto</label>
            </div>
            <div class="col-sm-4 ">
                <input class="form-control" type="number" id="boleto" name="boleto" required value="<%=boleto%>">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Destino</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="destino" name="destino" required value="<%=destino%>">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Nombre del cliente</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="nombreCliente" name="nombreCliente" required value="<%=nombreCliente%>">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Años cumplidos</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="number" id="años" name="años" required value="<%=años%>">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Tipo de viaje</label>
            </div>
            <div class="col-sm-4">
                <select class="form-select" id="tipoViaje" name="tipoViaje">
                    <option value="1" <% if(tipoViaje==1){%>selected<%}%>>Sencillo</option>
                    <option value="2" <% if(tipoViaje==2){%>selected<%}%>>Doble</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-3 text-center align-self-center">
                <label for="" class="form-label">Precio</label>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" required id="precio" name="precio" value="<%=precio%>">
                  </div>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-sm-3 mt-2 d-grid gap-2">
                <button class="btn btn-outline-success fs-5" type="submit">Calcular</button>
            </div>
            <div class="col-sm-3 mt-2 d-grid gap-2">
                <button class="btn btn-outline-danger fs-5" type="reset" id="reset">Limpiar</button>
            </div>
        </div>
    </form>
    <% 
        let subtotal = 0;
        let iva = 0;
        let descuento = 0;
        let tot = 0;
        if (precio!=null) {
            if(tipoViaje==1){
                subtotal = parseInt(precio);
            }else if(tipoViaje==2){
                subtotal = parseInt(precio) + (parseInt(precio)*0.8);
            }
        iva = subtotal*0.16;
            if(años>=60){
                descuento = (subtotal+iva)*0.5;
            }
        tot = (subtotal + iva) - descuento;
    %>
    <div class="row mb-3 text-center justify-content-center">
        <div class="col-sm-3"></div>
        <h3>Resumen</h3>
    </div>
    <div class="row mb-3 text-center justify-content-center">
        <div class="col-sm-3">
            <label class="form-label" for="">Subtototal</label>
        </div>
        <div class="col-sm-4">
            <input type="text" name="" id="" disabled value="<%= subtotal %>">
        </div>
    </div>
    <div class="row mb-3 text-center justify-content-center">
        <div class="col-sm-3">
            <label class="form-label" for="">Impuesto</label>
        </div>
        <div class="col-sm-4">
            <input type="text" name="" id="" disabled value="<%= iva %>">
        </div>
    </div>
    <div class="row mb-3 text-center justify-content-center">
        <div class="col-sm-3">
            <label class="form-label" for="">Descuento</label>
        </div>
        <div class="col-sm-4">
            <input type="text" name="" id="" disabled value="<%= descuento %>">
        </div>
    </div>
    <div class="row mb-3 text-center justify-content-center">
        <div class="col-sm-3">
            <label class="form-label" for="">Total</label>
        </div>
        <div class="col-sm-4">
            <input type="text" name="" id="" disabled value="<%= tot %>">
        </div>
    </div>
    <%}%>
</div>
    <%-include('partials/piePagina.html');%>
    <script src="./js/formulario.js"></script>
</body>
